@import "~@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply transition-all;
}

body{
  @apply flex flex-col min-h-screen;
}

body::-webkit-scrollbar{
  @apply w-0 h-0;
}

a{
  @apply hover:text-pink-500 transition-all;
}

/* UTILITIES */
.containerx{
  @apply px-4 sm:px-12 md:px-16;
}

.container1{
  @apply px-4 sm:px-16 md:px-24;
}

.containery{
  @apply py-8 sm:py-12;
}

.brand{
  @apply text-3xl;
}

.fi{
  @apply flex justify-center items-center
}

.heading{
  @apply tracking-widest font-medium;
}

.custom-scrollbar::-webkit-scrollbar{
  @apply w-[4px] h-[4px];
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  @apply bg-[#222222] w-[4px] h-[4px];
}

.nav-link-selected{
  @apply text-slate-900 relative;
}

.nav-link-selected::before{
  content: '';
  @apply w-full h-[2px] bg-slate-900 bottom-0 left-0 z-10 absolute ;
}

.nav-link{
  @apply relative hover:text-slate-900;
}

.nav-link::before{
  content: '';
  @apply w-0 h-[2px] bg-slate-900 bottom-0 left-1/2 -translate-x-1/2 z-10 absolute transition-all;
}

.nav-link:hover::before{
  @apply w-full;
}

.carousel{
  @apply transition-all;
  animation: 0.3s carousel-anim ease-in-out;
}

@keyframes carousel-anim{
  from{
    @apply translate-x-full;
  }
  to{
    @apply translate-x-0;
  }
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
}